@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lacquer', sans-serif;
}

h1 {
  letter-spacing: 4px;
  text-align: center;
  text-transform: uppercase;
  font-size: 100px;
}

.countdown-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 350px;
}
